demo/v2/.net/NMSAPI-2.1.0/NMSAPI-2.1.0/Service References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/nms/v2" xmlns:common="http://api.baidu.com/sem/common/v2" name="AccountService" targetNamespace="https://api.baidu.com/sem/nms/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.baidu.com/sem/nms/v2">
      <xsd:import schemaLocation="http://tc-un-db64-02.tc:8222/sem/nms/v2/AccountService?xsd=../../Common.xsd" namespace="http://api.baidu.com/sem/common/v2" />
      <xsd:complexType name="AccountInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="userid" type="xsd:long" />
          <xsd:element name="username" type="xsd:string" />
          <xsd:element minOccurs="0" name="balance" type="xsd:double" />
          <xsd:element minOccurs="0" ref="common:opt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAccountInfoRequest">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="accountInfo" type="tns:AccountInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAccountInfoResponse">
    <wsdl:part name="parameters" element="tns:getAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountInfoRequest">
    <wsdl:part name="parameters" element="tns:getAccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="AccountService">
    <wsdl:operation name="getAccountInfo">
      <wsdl:input message="tns:getAccountInfoRequest" />
      <wsdl:output message="tns:getAccountInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceSOAP" type="tns:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAccountInfo">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/AccountService/getAccountInfo" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="AccountService" binding="tns:AccountServiceSOAP">
      <soap:address location="http://tc-un-db64-02.tc:8222/sem/nms/v2/AccountService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>