demo/v2/.net/NMSAPI-2.1.0/NMSAPI-2.1.0/Service References/AccountFileService/AccountFileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/nms/v2" xmlns:common="http://api.baidu.com/sem/common/v2" name="AccountFileService" targetNamespace="https://api.baidu.com/sem/nms/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.baidu.com/sem/nms/v2">
      <xsd:import schemaLocation="http://tc-un-db64-02.tc:8222/sem/nms/v2/AccountFileService?xsd=../../Common.xsd" namespace="http://api.baidu.com/sem/common/v2" />
      <xsd:complexType name="AccountFileRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
          <xsd:element minOccurs="0" name="format" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAccountFileIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountFileRequestType" type="tns:AccountFileRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountFileIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountFileStateRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountFileStateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="isGenerated" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountFileUrlRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountFileUrlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="filePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="md5" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAccountFileIdRequest">
    <wsdl:part name="parameters" element="tns:getAccountFileIdRequest" />
  </wsdl:message>
  <wsdl:message name="getAccountFileStateResponse">
    <wsdl:part name="parameters" element="tns:getAccountFileStateResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountFileUrlResponse">
    <wsdl:part name="parameters" element="tns:getAccountFileUrlResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountFileUrlRequest">
    <wsdl:part name="parameters" element="tns:getAccountFileUrlRequest" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="getAccountFileIdResponse">
    <wsdl:part name="parameters" element="tns:getAccountFileIdResponse" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getAccountFileStateRequest">
    <wsdl:part name="parameters" element="tns:getAccountFileStateRequest" />
  </wsdl:message>
  <wsdl:portType name="AccountFileService">
    <wsdl:operation name="getAccountFileId">
      <wsdl:input message="tns:getAccountFileIdRequest" />
      <wsdl:output message="tns:getAccountFileIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAccountFileState">
      <wsdl:input message="tns:getAccountFileStateRequest" />
      <wsdl:output message="tns:getAccountFileStateResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAccountFileUrl">
      <wsdl:input message="tns:getAccountFileUrlRequest" />
      <wsdl:output message="tns:getAccountFileUrlResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountFileServiceSOAP" type="tns:AccountFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAccountFileId">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/AccountFileService/getAccountFileId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountFileState">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/AccountFileService/getAccountFileState" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountFileUrl">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/AccountFileService/getAccountFileUrl" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountFileService">
    <wsdl:port name="AccountFileService" binding="tns:AccountFileServiceSOAP">
      <soap:address location="http://tc-un-db64-02.tc:8222/sem/nms/v2/AccountFileService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>