demo/v2/.net/NMSAPI-2.1.0/NMSAPI-2.1.0/Service References/CampaignService/CampaignService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/nms/v2" xmlns:common="http://api.baidu.com/sem/common/v2" name="CampaignService" targetNamespace="https://api.baidu.com/sem/nms/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.baidu.com/sem/nms/v2">
      <xsd:import schemaLocation="http://tc-un-db64-02.tc:8222/sem/nms/v2/CampaignService?xsd=../../Common.xsd" namespace="http://api.baidu.com/sem/common/v2" />
      <xsd:complexType name="ScheduleType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="weekDay">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:minInclusive value="1" />
                <xsd:maxInclusive value="7" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="startTime">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:minInclusive value="0" />
                <xsd:maxInclusive value="23" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="endTime">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:minInclusive value="1" />
                <xsd:maxInclusive value="24" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CampaignType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="campaignId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="campaignName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="budget" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:int" />
          <xsd:element minOccurs="0" name="startDate" type="xsd:date" />
          <xsd:element minOccurs="0" name="endDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="168" name="schedule" type="tns:ScheduleType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addCampaignRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addCampaignResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCampaignByCampaignIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCampaignByCampaignIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCampaignRequest">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCampaignResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCampaignIdRequest">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCampaignIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCampaignRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCampaignResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCampaignIdResponse">
    <wsdl:part name="parameters" element="tns:getCampaignIdResponse" />
  </wsdl:message>
  <wsdl:message name="updateCampaignResponse">
    <wsdl:part name="parameters" element="tns:updateCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="getCampaignRequest">
    <wsdl:part name="parameters" element="tns:getCampaignRequest" />
  </wsdl:message>
  <wsdl:message name="updateCampaignRequest">
    <wsdl:part name="parameters" element="tns:updateCampaignRequest" />
  </wsdl:message>
  <wsdl:message name="getCampaignByCampaignIdResponse">
    <wsdl:part name="parameters" element="tns:getCampaignByCampaignIdResponse" />
  </wsdl:message>
  <wsdl:message name="addCampaignResponse">
    <wsdl:part name="parameters" element="tns:addCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="getCampaignResponse">
    <wsdl:part name="parameters" element="tns:getCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="addCampaignRequest">
    <wsdl:part name="parameters" element="tns:addCampaignRequest" />
  </wsdl:message>
  <wsdl:message name="getCampaignIdRequest">
    <wsdl:part name="parameters" element="tns:getCampaignIdRequest" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getCampaignByCampaignIdRequest">
    <wsdl:part name="parameters" element="tns:getCampaignByCampaignIdRequest" />
  </wsdl:message>
  <wsdl:portType name="CampaignService">
    <wsdl:operation name="addCampaign">
      <wsdl:input message="tns:addCampaignRequest" />
      <wsdl:output message="tns:addCampaignResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCampaignByCampaignId">
      <wsdl:input message="tns:getCampaignByCampaignIdRequest" />
      <wsdl:output message="tns:getCampaignByCampaignIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCampaign">
      <wsdl:input message="tns:getCampaignRequest" />
      <wsdl:output message="tns:getCampaignResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCampaignId">
      <wsdl:input message="tns:getCampaignIdRequest" />
      <wsdl:output message="tns:getCampaignIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateCampaign">
      <wsdl:input message="tns:updateCampaignRequest" />
      <wsdl:output message="tns:updateCampaignResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampaignServiceSOAP" type="tns:CampaignService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addCampaign">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/CampaignService/addCampaign" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCampaignByCampaignId">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/CampaignService/getCampaignByCampaignId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCampaign">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/CampaignService/getCampaign" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCampaignId">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/CampaignService/getCampaignId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCampaign">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/CampaignService/updateCampaign" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampaignService">
    <wsdl:port name="CampaignService" binding="tns:CampaignServiceSOAP">
      <soap:address location="http://tc-un-db64-02.tc:8222/sem/nms/v2/CampaignService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>